<IfModule mod_rewrite.c>
  <IfModule mod_negotiation.c>
    Options -Indexes
  </IfModule>

  RewriteEngine On

  RewriteRule ^(.*)/$ /$1 [L,R=301]

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule ^home$ /pages/home/index.php [L]
  RewriteRule ^login$ /pages/authen/login.php [L]
  RewriteRule ^register$ /pages/authen/register.php [L]
  RewriteRule ^cart$ /pages/cart/cart.php [L]
  # RewriteRule ^product/id/([^/]*)/userid/([^/]*).php$ /pages/products/product_detail.php?id=$1&userid=$2 [L]

</IfModule>
