*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-content{
  padding: 23px 30px;
  box-shadow: 0 0 1px gray;
}
.heading{
  padding-bottom: 10px;
  border-bottom: 2px solid #333;
  text-align: center;
}
.row{
  padding-top: 20px;
}
.element-button{
  padding-bottom: 20px;
  display: flex;
  gap: 50px;
}
table, th, td {
  border: 1px solid #333;
  border-collapse: collapse;
}
table{
  width: 100%;
}
td{
  text-align: center;
}
th{
  padding: 10px;
}
.add{
  padding: 10px 8px;
  border-radius: 10px;
  background-color: #43ff3c;
}
.add a{
  text-decoration: none;
  color: #000;
}
.delete-all{
  border-radius: 10px;
  padding: 10px 8px;
  background-color: #808080;
}
.delete-all a{
  text-decoration: none;
  color: #000;
}